@font-face {
  font-family: "Monteserrat";
  src: url("Montserrat-Regular.ttf");
}

html,
body {
  height: 100%;
  font-family: "Monteserrat";
  font-size: small;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "Monteserrat";
}

nav {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #9ba2bc;
  height: 78px;
}

.logo {
  margin-left: 112px;
}

ul {
  display: flex;
  flex-direction: row;
}

li {
  list-style-type: none;
  margin: 36px 15px 42px 0;
  justify-content: space-between;
  align-items: center;
}

main {
  width: 100%;
  height: 1817px;
}

h1 {
  margin: 7px 0 7px 112px;
}

hr {
  width: 100%;
}
p {
  margin-left: 112px;
}

.form-area {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 150px;
}

.form-list {
  display: flex;
  flex-direction: column;
  height: 150px;
}

.elements-form-list {
  list-style-type: none;
  margin: 0;
}

footer {
  height: 306px;
  background-color: #151a30;
}

textarea {
  width: 200px;
  height: 100px;
  resize: none;
}

.submit {
  background: #6759FF;
border-radius: 8px;
width: 192px;
height: 31px;
}

.submit-form {
display: flex;
flex-direction: column;
margin-left: 112px;
}
