:root {
    --back-color: white; 
    --text-color: #868688;
    --submit-solor: #6759ff;
    --footer-color: #151a30;
    --footer-text: #dbdee7;
    --nav-color:white;
    --main-title: black;
    --nav-button: white;
    --input-color: white;
    --textarea-color: white;
    --label-color: #5f5f60;
    --checkbox-text: #5f5f60;
}