@font-face {
  font-family: "DM Sans", sans-serif;
  src: url("https://fonts.google.com/share?selection.family=DM%20Sans%7CLato%7COswald:wght@600");
}

:root {
  --main-color-html: whitesmoke;
  --brand-green: #00856f;
  --brand-green-light: #dce9e2;
  --brand-green-text: #1a6c5e;
  --brand-beige: #fffaf1;
  --brand-green-light-02: #f7f9f9;
  --brand-green-hover: #0b4037;
  --white: white;
}

html {
  background-color: var(--main-color-html);
}

.page {
  font-family: "DM Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

.page__container {
  max-width: 1360px;
  min-width: 375px;
  box-sizing: border-box;
  margin: auto;
}

.page__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--brand-green);
  padding: 0 23px 0 123px;
  width: 100%;
  height: 72px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
  box-sizing: border-box;
}

.header__logo {
  text-decoration: none;
  cursor: pointer;
}

.header__logo-link:focus {
  outline: none;
  color: var(--brand-green-hover);
}

.header__logo-link {
  color: var(--white);
  text-decoration: none;
  font-size: 20px;
}

.header__nav-menu {
  display: flex;
}

.header__mobile-menu {
  width: 1px;
  margin: 0;
}

.nav-menu__item {
  list-style-type: none;
  display: flex;
  padding: 26px 0;
  margin-right: 35px;
  justify-content: space-between;
}

.nav-menu__item_underlined {
  border-bottom: 2px solid var(--white);
}

.nav-menu__link {
  background-color: var(--brand-green);
  color: var(--white);
  border: none;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.nav-menu__link:active {
  outline: none;
  color: #023930;
}

.nav-menu__link:focus {
  outline: none;
  color: #023930;
}

.header__button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--white);
  color: var(--brand-green);
  border-radius: 35px;
  border: 1px solid var(--white);
  width: 200px;
  height: 35px;
  cursor: pointer;
}

.header__button:active {
  background-color: var(--brand-green);
  color: var(--white);
}

.header__button:focus {
  outline: none;
  background-color: var(--brand-green);
  color: var(--white);
}

.page__start {
  display: flex;
  background: var(--brand-green-light);
  padding: 13px 123px 60px 123px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.start__desc {
  line-height: 1.5;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 32px;
}

.start__name {
  font-weight: 700;
  font-size: 14px;
  color: var(--brand-green-text);
  margin-top: 80px;
  margin: 80px 0 0 0;
  text-transform: uppercase;
}

.start__title {
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 1.3;
  margin: 16px 63px 24px 0;
}

.button-whatsapp {
  display: inline-flex;
  align-items: center;
  background-color: var(--brand-green);
  color: var(--white);
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 35px;
  border: 1px solid #00856f;
  padding: 17px 32px;
  cursor: pointer;
  box-sizing: border-box;
  min-width: 258px;
}

.button-whatsapp:active {
  background-color: var(--brand-green-hover);
}

.button-whatsapp:focus {
  outline: none;
  background-color: var(--brand-green-hover);
}

.button-whatsapp__icon {
  margin-right: 10px;
  width: 16.59px;
  height: 16.59px;
}

.page__amount {
  display: flex;
  justify-content: space-around;
  background: var(--brand-beige);
  min-width: 327px;
  width: 80%;
  max-width: 1120px;
  border: 1px solid var(--brand-green-light);
  margin: 0 123px;
  padding: 60px;
  position: absolute;
  top: 600px;
  box-sizing: border-box;
}

.amount__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.amount__block_central {
  border-left: 1px solid var(--brand-green);
  border-right: 1px solid var(--brand-green);
}

.amount__sum {
  font-size: 48px;
  margin: 0;
  font-weight: 600;
}

.amount__text {
  font-size: 14px;
  color: var(--brand-green-text);
}

.page__service {
  padding: 200px 123px 160px 123px;
  background-color: var(--brand-green-light-02);
  width: 100%;
  box-sizing: border-box;
}

.service__link {
  text-decoration: none;
  color: black;
  margin-bottom: 40px;
}

.service__link:focus {
  outline: none;
  border: 1px solid var(--brand-green-hover);
}

.service__text {
  font-size: 14px;
  font-weight: 700;
  color: var(--brand-green-text);
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.service__title {
  text-align: center;
  font-size: 40px;
  line-height: 1.5;
  margin-top: 16px;
  margin-bottom: 64px;
}

.service__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background: var(--brand-green-light-02);
  column-gap: 20px;
  box-sizing: border-box;
}

.service__block:hover {
  opacity: 1;
  transform: scale(1.1);
  transition: 1s;
  cursor: pointer;
}

.service__block {
  width: 347px;
  height: 207px;
  background-color: var(--white);
  padding: 24px;
  border: 1px solid var(--brand-green-light);
  box-sizing: border-box;
}

.service__desc {
  line-height: 1.5;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.servise__icon {
  background-color: var(--brand-green-light);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
  padding-top: 2px;
}

.page__doc-quality {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--brand-beige);
  padding: 160px 123px;
  width: 100%;
  box-sizing: border-box;
}

.doc-quality__text {
  margin-left: 67px;
}

.doc-quality__name {
  font-size: 14px;
  font-weight: 700;
  color: var(--brand-green-text);
  text-transform: uppercase;
}

.doc-quality__title {
  font-size: 40px;
  line-height: 1.5;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  margin: 10px 0 24px 0;
}

.doc-quality__desc {
  line-height: 1.5;
}

.page__contact-us {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--white);
  padding: 160px 123px;
  width: 100%;
  height: 699px;
  box-sizing: border-box;
}

.contact-us__title {
  font-size: 40px;
  line-height: 1.5;
  margin-bottom: 40px;
}

.contact-us__item {
  padding-bottom: 16px;
}

.contact-us__icon {
  margin-right: 10px;
}

.contact-us__map {
  text-decoration: none;
  color: black;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-bottom: 8px;
}

.contact-us__map:focus {
  outline: none;
  color: var(--brand-green-text);
  text-decoration: underline var(--brand-green-text);
}

.contact-us__email {
  text-decoration: none;
  color: black;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.contact-us__email:focus {
  outline: none;
  color: var(--brand-green-text);
  text-decoration: underline var(--brand-green-text);
}

.contact-us__button-whatsapp {
  margin-top: 40px;
}

.page__footer {
  display: flex;
  align-items: center;
  background: var(--brand-green);
  padding: 80px 123px;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

.footer__block {
  color: var(--white);
  flex: 3;
}

.footer__logo {
  font-size: 38px;
  color: var(--white);
  text-decoration: none;
}

.footer__logo:focus {
  outline: none;
  color: var(--brand-green-hover);
}

.footer__text {
  font-size: 16px;
}

.footer__social-network {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

.social-network__item:focus {
  outline: none;
  box-shadow: 0px 0px 2px 2px var(--brand-green-hover);
}

@media (min-width: 0px) and (max-width: 1359px) {
  .page__container {
    min-width: 375px;
    box-sizing: border-box;
    margin: auto;
  }

  .page__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 24px;
  }

  .header__nav-menu, .header__button {
    visibility: hidden;
    display: none;
  }

.header__mobile-menu {
  display: block;
  position: relative;
  width: 30px;
  height: 20px;
  margin-right: 40px;
}

.header__mobile-menu:focus {
  background-color: var(--brand-green-hover);
  box-shadow: 0px 0px 2px 2px var(--brand-green-hover);
}

.header__mobile-menu:active {
  background-color: var(--brand-green-hover);
  box-shadow: 0px 0px 2px 2px var(--brand-green-hover);
}

.header__mobile-menu::before {
content: '';
background-color: var(--white);
position: absolute;
width: 100%;
left: 0;
height: 2px;
top: 0;
}

.header__mobile-menu::after {
  content: '';
  background-color: var(--white);
  position: absolute;
  width: 70%;
  right: 0;
  height: 2px;
  bottom: 0;
}

.header__mobile-menu__item {
  position: absolute;
  background-color: var(--white);
  left 0;
  width: 100%;
  height: 2px;
  top: 9px;
}

  .page__start {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 1080px;
  }

  .start__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 60px;
  }

  .start__title {
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 1.3;
    text-align: center;
    width: 327px;
    height: 132px;
    margin: 16px 0 24px 0;
  }

  .start__name {
    text-align: center;
    margin-top: 41px;
  }

  .start__desc {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    width: 327px;
    height: 108px;
    text-align: center;
    margin-bottom: 32px;
  }

  .start__img {
    width: 262px;
    height: 341px;
  }

  .page__amount {
    display: flex;
    flex-direction: column;
    width: 327px;
    height: 470px;
    padding: 40px 50px 0px 50px;
    top: 920px;
    margin: 0;
    left: 50%;
    margin-left: -163px;
  }

  .amount__block_central {
    border-left: none;
    border-right: none;
  }

  .amount__text {
    margin-top: 10px;
  }

  .page__service {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    padding-top: 318px;
  }

  .service__block {
    margin-bottom: 32px;
  }

  .service__title {
    width: 314px;
    height: 117px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    text-align: center;
    margin: 16px 0 60px 0;
  }

  .service__container {
    display: block;
  }

  .page__doc-quality {
    display: flex;
    flex-direction: column-reverse;
    padding: 100px 24px;
    height: 969px;
  }

  .doc-quality__title {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    width: 327px;
    height: 78px;
    margin: 0 0 24px 0;
  }

  .doc-quality__text {
    margin: 0 0 60px 0;
  }

  .doc-quality__desc {
    width: 327px;
    height: 288px;
    padding: 0;
  }

  .doc-quality__img {
    width: 327px;
    height: 282px;
  }

  .page__contact-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 160px 123px;
    height: 735px;
    padding: 100px 54px 100px 24px;
  }

  .contact-us__img {
    width: 324px;
    height: 213px;
  }

  .contact-us__button-whatsapp {
    margin: 32px 0 45px 0;
  }

  .contact-us__title {
    font-size: 30px;
    width: 297px;
    height: 78px;
    margin: 0 0 32px 0;
  }

  .page__footer {
    display: flex;
    flex-direction: column;
    padding: 60px 113px 60px 26px;
    height: 285px;
  }

  .footer__logo {
    width: 236px;
    height: 31px;
    margin-bottom: 30px;
  }

  .footer__social-network {
    width: 200px;
    margin-top: 30px;
    justify-content: start;
  }

  .social-network__item {
    margin-right: 30px;
  }
}
